/* 기본 리셋 */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* 배경 꽉 차게 */
.bg {
  width: 100%;
  min-height: 100vh;

  background-image: url("images/book_ki.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
