* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;

    background-image: url("images/book_ki.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: transform 0.15s ease-out;
    transform-style: preserve-3d;
}
